* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(202, 170, 193);
}
.nav{
    display: flex;
    justify-content: left;
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
}
.login {
    border-radius: 5px;
    width: 400px;
    height: 320px;
    background-color: white;
    padding: 5px 10px;
}
label {
    display: block;
    font-weight: bolder;
    margin: 5px 0px;
}
input {
    width: 200px;
    padding: 8px 5px;
    border-radius: 5px;
    margin-bottom: 10px;

}
#btn{
    border: none;
    background-color: blueviolet;
    width: 100%;
    padding: 10px 8px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    margin: 9px 0px;
}
p {
    font-size: 12pt;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
a {
    text-decoration: none;
    font-weight: bolder;
}